/* 
**************
Core
**************
*/

@import url(_partials/variables.css);
@import url(_partials/star-divider.css);

/* 
**************
Header
**************
*/

header {
    background-color: var(--vdu-secondary-700);
}



/* 
**************
Main
**************
*/

/* Above */

#above {
    background-color: var(--vdu-primary-500);
}

/* About */

#about {
    background-color: var(--vdu-primary-500);
}

/* 
**************
Footer
**************
*/

/* Footer Top */

#footer--top {
    background-color: var(--vdu-secondary-500);
}

/* Footer Bottom */

#footer--bottom {
    background-color: var(--vdu-secondary-700);
}