/* 
**************
Core
**************
*/

@import url(_partials/variables.css);

/* 
**************
Header
**************
*/

header {
    background-color: var(--vdu-secondary-700);
}

/* 
**************
Main
**************
*/

/* Above */

#above {
    background-color: var(--vdu-primary-500);
}

/* Portfolio */

#portfolio>div>div>div>* {
    background-color: var(--vdu-primary-500);
    padding: 150px;
}