/* 
**************
Core
**************
*/

@import url(_partials/variables.css);

/* 
**************
Header
**************
*/

header {
    background-color: var(--vdu-secondary-700);
}

/* 
**************
Main
**************
*/

/* Above */

#above {
    background-color: var(--vdu-primary-500);
}

/* Portfolio */

#portfolio>div>div>div>* {
    background-color: var(--vdu-primary-500);
    padding: 150px;
}

/* About */

#about {
    background-color: var(--vdu-primary-500);
}

/* 
**************
Footer
**************
*/

/* Footer Top */

#footer--top {
    background-color: var(--vdu-secondary-500);
}

/* Footer Bottom */

#footer--bottom {
    background-color: var(--vdu-secondary-700);
}